<% include template/header.ejs %>
<title><%= title %></title>


<table class='myTable'>
    <tr><td><% include template/profile.ejs %></td>
    <td><% include template/post.ejs %>
        <br />
        <% include template/memos.ejs %></td></tr>
</table>




<% include template/footer.ejs %>