<% include template/header.ejs %>
<title><%= title %> Post</title>


<form name="login" method="post" id="auth-reg" action="/posting">
    <textarea name="post" cols="50" rows="5"></textarea> <br>
    <input type="submit">

</form>




<% include template/footer.ejs %>