<% include template/header.ejs %>
<title><%= title %></title>



<table class='myTable' width='650'>
<tr width=35%><td><% include template/profile.ejs %></td>
    <td><% include template/memos.ejs %></td></tr>
</table>

<% include template/footer.ejs %>