<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <h1><%= title %></h1>
    <a id="home" href="/">Home</a> |
    <a id="connect" href="/connect">Connect</a> |
    <a id="discover" href="/discover">Discover</a> |
    <a id="me" href="/:user">Me</a> |
    <a id="compose" href="/post">Compose new Memento</a> |
    <a id="signout" href="/logout">Sign Out</a>
    <hr>