<!DOCTYPE html>
<html>
<head>
</head>
<body>
<link rel='stylesheet' href='/stylesheets/style.css' />

<h1><%= title %></h1>
You must log in to view the content of this site <br>
    <a id="home" href="/login">Login</a> |
    <a id="connect" href="/register">Register</a>
    <hr>