<!DOCTYPE html>
<html>
<head>
</head>
<body>
<link rel='stylesheet' href='/stylesheets/style.css' />

    <h1><%= title %></h1>
    <a id="home" href="/">Home</a> |
    <a id="connect" href="/connect">Connect</a> |
    <a id="discover" href="/discover">Discover</a> |
    <a id="signout" href="/logout">Sign Out</a>
    <hr>