<!DOCTYPE html>
<html>
<head>
</head>
<body>
<link rel='stylesheet' href='/stylesheets/style.css' />

<center><table width='650'><tr><td>
    <h1><%= title %></h1>
    <a id="home" href="/">Home</a> |
    <a id="connect" href="/connect">Connect</a> |
    <a id="discover" href="/discover">Discover</a> |
    <a id="signout" href="/logout">Sign Out</a>
    <hr class="style-two"> </hr>

        <!--<div id="left"></div>-->
        <!--<div id="right"></div>-->
        <!--<div id="top"></div>-->
        <!--<div id="bottom"></div>-->
<!--<div id="left2"></div>-->
<!--<div id="right2"></div>-->
<!--<div id="top2"></div>-->
<!--<div id="bottom2"></div>-->