<table border="1">
    <%
    var length = posts.length;
    if(posts.length > 10){
    length = 10;
    }
    for(var i = 0; i<length; i++){
    %>
    <tr><td>
        <%= posts[i].msg %>
        <br />
        <a id="home" href=<%= posts[i].poster%>><%= posts[i].poster%></a>
        <br />
        <%= posts[i].date %>
    </td></tr>

    <% }; %>

</table>